@keyframes heart {
    0%,
    40%,
    80%,
    to {
        transform: scale(1);
    }
    20%,
    60% {
        transform: scale(1.15);
    }
}
.md-typeset .mdx-switch button {
    cursor: pointer;
    transition: opacity 0.25s;
}
.md-typeset .mdx-switch button:focus,
.md-typeset .mdx-switch button:hover {
    opacity: 0.75;
}
.md-typeset .mdx-switch button > code {
    background-color: var(--md-primary-fg-color);
    color: var(--md-primary-bg-color);
    display: block;
}
.mdx-container {
    background-image: url('/assets/images/illustration.jpg');
    background-size: cover;        /* Ensures the image covers the entire element */
    background-position: center;   /* Centers the image */
    background-repeat: no-repeat;  /* Prevents the image from repeating */
    width: 100%;                   /* Fills the full width */
    height: 100vh;                 /* Fills the full viewport height */
        /* linear-gradient(to bottom, var(--md-primary-fg-color), #a63fd9 99%, var(--md-default-bg-color) 99%); */
    padding-top: 1rem;
}
/* [data-md-color-scheme="slate"] .mdx-container {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1123 258'><path d='M1124,2c0,0 0,256 0,256l-1125,0l0,-48c0,0 16,5 55,5c116,0 197,-92 325,-92c121,0 114,46 254,46c140,0 214,-167 572,-166Z' style='fill: hsla(230, 15%, 14%, 1)' ></path></svg>")
            no-repeat bottom,
        linear-gradient(to bottom, var(--md-primary-fg-color), #363949 99%, var(--md-default-bg-color) 99%);
} */
.mdx-hero {
    color: var(--md-primary-bg-color);
    margin: 0 0.8rem;
}
.mdx-hero h1 {
    color: currentcolor;
    font-weight: 700;
    margin-bottom: 1rem;
}
@media screen and (max-width: 29.984375em) {
    .mdx-hero h1 {
        font-size: 1.4rem;
    }
}
.mdx-hero__content {
    padding-bottom: 6rem;
}
@media screen and (min-width: 60em) {
    .mdx-hero {
        align-items: stretch;
        display: flex;
    }
    .mdx-hero__content {
        margin-top: 3.5rem;
        max-width: 19rem;
        padding-bottom: 14vw;
    }
}
.mdx-hero .md-button {
    color: var(--md-primary-bg-color);
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}
.mdx-hero .md-button:focus,
.mdx-hero .md-button:hover {
    background-color: var(--md-accent-fg-color);
    border-color: var(--md-accent-fg-color);
    color: var(--md-accent-bg-color);
}
.mdx-hero .md-button--primary {
    background-color: var(--md-primary-bg-color);
    border-color: var(--md-primary-bg-color);
    color: #894da8;
}
